h1 {
	color: rgba(240,200,100,1);
	border-color: purple;
	border-width: 5px;
	border-style: solid;

	border: 2px solid green;
}

/*width
color
style */

h4 {
	background: rgb(255,100,80);
}

body {
	background: pink;
}