/*Element*/
li {

}

/*Class*/
.hello {

}

/*ID*/
#name {

}

/*Star*/
* {
	border: 1px solid lightgrey;
}

/*Descendant Selectors*/
li a {
	color: red;
}

/*Adjacent Selectors*/
h4 + ul {
	border: 4px solid red;
}

/*Attribute Selectors*/
a[href="http://www.google.com"] {
	background: blue;
}

/*nth of type*/
li:nth-of-type(3){
	background: purple;
}